<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/background/20221201/original/pngtree-cinema-film-festival-movie-poster-background-picture-image_1973552.jpg);">
  <div class="container">
    <h1>Cinema</h1>
    <%= link_to "Add List",new_list_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container mt-2">
  <h1 class="h3 m-0">Movie List</h1>
  <div class="cards">
    <% @lists.each do |list| %>
      <div class="item card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
        <%= link_to list.name, list_path(list), class: "text-white text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>
