<div class="container">
  <h1 class="h3 mb-3">New List</h1>
  <%= simple_form_for @list do|f| %>
    <%=f.input :name %>
    <%= f.input :photo, as: :file %>
    <%=f.submit "Create", class: "btn btn-primary" %>
  <%end%>
</div>
