<div class="container">
  <h1 class="h3 mb-3">Bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%=f.submit "submit", class: "btn btn-primary" %>
  <%end%>
</div>
